[user]
    email = victor.ythier@gmail.com
    name = VictorYt
[credential]
    helper = osxkeychain
[core]
    editor = subl
    excludesfile = ~/.dotfiles/git/.gitignore_global
[pull]
  rebase = true
[commit]
  verbose = true
[alias]
    ai = add -i

    st = status

    ci = commit
    cim = commit -m

    lgp = log -p
    lgo = log --oneline
    alltags = log --decorate --oneline --simplify-by-decoration

    cl = clone

    ps = push
    pl = pull

    b = branch
    br = branch
