"*":
  autocomplete:
    includeCompletionsFromAllBuffers: true
  core:
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    telemetryConsent: "limited"
  editor:
    confirmCheckoutHeadRevision: false
    fontFamily: "Source Code Pro"
    fontSize: 13
    lineHeight: 1.75
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "5dc2b6a5-6c4e-4573-9d49-841771af935b"
  "fuzzy-finder":
    ignoredNames: [
      "*.class"
      "*.asc"
    ]
  "linter-ui-default":
    showPanel: true
  "python-autopep8":
    formatOnSave: true
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
